<%- include('partials/header') %>
<form action="/eliminar" method="post">
    <div class="container">
        <h5 class="">
            <%= nota.titulo %></h5>
        <p class="">
            <%=nota.contenido %></p></div>
        <button type="submit" name="eliminar" value="<%= nota._id %>">Eliminar</button></form>

        
<%- include('partials/footer') %>